<html>

<head>
	<meta charset=utf8>
</head>

<body>
	<div>セレクトボックスで「1」を選択→50件のユーザーデータを作成</div>
	<div>セレクトボックスで「2」を選択→50件の店舗データを作成</div>
	<form method="post">
		<select name="val">
			<option value=1>1</option>
			<option value=2>2</option>
			<option value=3>3</option>
		</select>
		<input type="submit">
	</form>
</body>

</html>
